:host {
  display: block;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    li {
      display: block;
      a {
        color: black;
        &:hover {
          color: red;
        }
        &.active {
          color: green;
        }
      }
    }
  }
}