:host {
  display: block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--header__bg--color, #FFF);
  color: var(--header__text--color, #000);
  height: var(--header__content, auto);
  box-shadow: rem(0 2px 5px 0) var(--header__box-shadow--color, rgba(0, 0, 0, 0.26));
  .header__left {
    display: flex;
    flex-direction: row;
    img {
      &.header__logo {
        align-self: center;
        width: var(--header__logo--width, rem(55px));
        height: rem(40px);
      }
    }
    h1 {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--header__text--color, #000);
      padding: rem(0px 12px);
    }
  }
  .header__right {

  }
    
}

